
# 03.06.2024 Breakout

The movies data has been loaded for you below. Use regular expressions to answer the following.

In [1]:
# Import pandas and allow for inline plotting

import pandas as pd
%matplotlib inline

In [2]:
# Read in movies data

movies = pd.read_csv("movie_metadata.csv")
movies = movies.dropna(subset = ['director_name', 'content_rating'])
movies = movies[['director_name', 'content_rating', 'movie_title', 'actor_1_name']]
movies.head()

,director_name,content_rating,movie_title,actor_1_name
0,James Cameron,PG-13,Avatar,CCH Pounder
1,Gore Verbinski,PG-13,Pirates of the Caribbean: At World's End,Johnny Depp
2,Sam Mendes,PG-13,Spectre,Christoph Waltz
3,Christopher Nolan,PG-13,The Dark Knight Rises,Tom Hardy
5,Andrew Stanton,PG-13,John Carter,Daryl Sabara

### Problem 1

<span  style="color:purple; font-size:16px">How many movies are directed by a Director with the first name 'James'? Save the answer to `james_directs`</span>

In [3]:
# Answer

### Problem 2

<span  style="color:purple; font-size:16px">How many movies are directed by a Director with the last name 'James'?</span>

In [4]:
# Answer

In [5]:
# Answer

### Problem 3

<span  style="color:purple; font-size:16px">Use a regular expression to determine the number of movies with a 'PG-13' or 'PG' rating.</span>

In [6]:
# Answer

### Problem 4

<span  style="color:purple; font-size:16px">Find all movie titles that are exactly 6 characters in length using regular expressions. How many such movies are there?</span>

In [7]:
# Answer

### Problem 5

<span  style="color:purple; font-size:16px">Find all movies with 's' as the fourth character. Save the sum to `s_movies`. </span>

In [8]:
# Answer

### Problem 6

<span  style="color:purple; font-size:16px">Find all movies with the word 'Return' or 'Returns' in it. Save the number of movies to `r_movies`. </span>

In [10]:
# Answer

### Problem 7

<span  style="color:purple; font-size:16px">Find all movies with title beginning with 'The' and containing the word 'Movie'. How many such movies are there?</span>

In [11]:
# Answer

### Problem 8

<span  style="color:purple; font-size:16px">Find all movies with between 45 and 50 characters in the movie title. Save the number of movies to `long_title`. </span>

In [12]:
# Answer

### Problem 9

<span  style="color:purple; font-size:16px">The `str.len()` string accessor method counts the number of characters in a string. Apply this method to the titles you extracted in the previous problem. What is the median length of movie titles having between 45 and 50 characters?</span>

In [13]:
# Answer

### Problem 10

<span  style="color:purple; font-size:16px">Find all movies with 3 or more consecutive vowels in the title. How many such movies are there?</span>

In [14]:
# Answer

### Problem 11

<span  style="color:purple; font-size:16px">Find the movie with the largest number of periods, commas, and question marks in the title.</span>

In [15]:
# Answer

### Problem 12

<span  style="color:purple; font-size:16px">Find all movies with either 'Notre' or 'Dame' in the title, regardless of capitalization and save the number of movies to `our_movies`.</span>

In [16]:
# Answer